/*滚动条的样式*/
::-webkit-scrollbar {
  z-index: 11;
  width: 6px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  width: 6px;
  background: #D8D8D8
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track-piece {
  background: rgba(0, 0, 0, 0);
  width: 6px
}

/* 滚动条两端按钮不显示 */
.scrollbar .scrollbarbutton {
  display: none ! important;
}

/*输入框的禁止状态颜色，默认颜色*/
.el-input.is-disabled .el-input__inner {
  background-color: #f5f7fa;
  border-color: #e4e7ed;
  color: #888888;
  cursor: not-allowed
}

.el-input__inner::-webkit-input-placeholder, .el-date-editor .el-range-input::-webkit-input-placeholder, .el-textarea__inner::-webkit-input-placeholder {
  color: #999
}

.el-input__inner:-ms-input-placeholder, .el-date-editor .el-range-input:-ms-input-placeholder, .el-textarea__inner:-ms-input-placeholder {
  color: #999
}

.el-input__inner::placeholder, .el-date-editor .el-range-input::placeholder, .el-textarea__inner::placeholder {
  color: #999
}

/*登录页面登录框css*/
.login-box .el-input__inner {
  background: rgba(0, 0, 0, 0);
  border-color: #CFCFCF;
  color: #fff;
}

.login-box .el-input .el-input__inner::-webkit-input-placeholder {
  color: #999
}

.login-box .el-input__inner:-ms-input-placeholder {
  color: #999
}

.login-box .el-input__inner::placeholder {
  color: #999
}

.login-box .el-input__inner:focus {
  border-color: #6699FF;
}

/*左侧导航栏二级菜单的popu框*/
.content-aside-close .el-menu, .content-aside .el-menu {
  border-right: none;
}

.content-aside-close .el-menu--popup, .content-aside .el-menu--popup {
  min-width: 170px
}

/*输入框+标签*/
.el-tag + .el-tag {
  margin-left: 10px;
}

.button-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}

.input-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}

/** 表格样式开始*/
.el-table {
  font-size: 14px;
  overflow: auto;
  color: #666
}

.el-table thead {
  color: #333;
  font-weight: 500
}

.el-table--striped .el-table__body tr.el-table__row--striped td {
  background: #efefef;
  background-clip: padding-box;
}

.el-table--striped .el-table__body tr.el-table__row--striped.current-row td {
  background: #edf7ff;
}

/**表格样式结束*/
/**首页的表格样式----开始*/
.overview {
  overflow: hidden;
  padding: 0;
}

.overview .el-table {
  overflow-y: scroll;
  box-sizing: content-box;
  padding-right: 17px;
  font-size: 14px;
  color: #fff;
  background: #08163d;
}

.overview .el-table th, .overview .el-table tr {
  background-color: #050D34;
}

.overview .el-table thead {
  color: #6D6C98;
  font-weight: 500;
}

.overview .el-table__empty-text {
  color: #6D6C98;
}

.overview .el-table--striped .el-table__body tr.el-table__row--striped td {
  background: #08163d;
  background-clip: padding-box;
}

.overview .el-table--striped .el-table__body tr.el-table__row--striped.current-row td, .overview .el-table__body tr.current-row > td, .overview .el-table__body tr.hover-row.current-row > td, .overview .el-table__body tr.hover-row.el-table__row--striped.current-row > td, .overview .el-table__body tr.hover-row.el-table__row--striped > td, .overview .el-table__body tr.hover-row > td {
  background: #050D34;
}

/*表格获取焦点事件*/
.overview .el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #050D34
}

/*删除表格的线*/
.overview .el-table td, .overview .el-table th.is-leaf {
  border-bottom: none;
}

/*删除表格底部的线*/
.overview .el-table::before {
  background-color: transparent;
}

/**首页的表格样式----结束*/
.el-popover {
  padding: 0;
  -moz-box-shadow: -6px 6px 12px rgba(40, 40, 40, .5); /*firefox*/
  -webkit-box-shadow: -6px 6px 12px rgba(40, 40, 40, .5); /*webkit*/
  box-shadow: -6px 6px 12px rgba(40, 40, 40, .5); /*opera或ie9*/
}

.el-input-group__append, .el-input-group__prepend {
  background-color: #6699FF;
  color: #fff;
  border: 1px solid #6699FF;
}

.inline-input .el-input-group__prepend {
  background-color: #fff;
  color: #343434;
  border: 1px solid #DBDEE5;
  border-right: none;
}

.inline-input .el-select .el-input {
  width: 80px;
}

/*全局搜索*/
.all-search .el-input-group__append, .all-search .el-input-group__prepend {
  background-color: #2B3F6E;
  color: #fff;
  border: none;
  padding: 0 10px;
}

.all-search .el-button [class*=el-icon-] {
  background-color: #2B3F6E;
  color: #fff;
  border: none;
  padding: 0;
  font-size: 24px;
}

.all-search .el-input__inner {
  background-color: #2B3F6E;
  border: none;
  border-right: 1px solid #08163D;
  border-left: 1px solid #08163D;
  color: #fff;
  padding: 0 10px;
}

.el-popover {
  max-height: 250px;
  overflow-y: auto;
}

/*系统参数配置*/
.sys .el-input-group__append, .sys .el-input-group__prepend {
  background-color: #fff;
  color: #999;
  border: none;
}

/** 定制版dialog*/
.popu .el-dialog {
  border-radius: 4px;
  height: 186px;
  margin: 0;
}

.popu .el-dialog__body {
  padding: 0;
  color: #606266;
  line-height: 24px;
  font-size: 14px
}

.popu .el-dialog__headerbtn .el-dialog__close {
  display: none;
  color: #909399
}

.popu .el-dialog__body .el-button {
  width: 100%;
  border-top: 1px solid #6699FF;
  padding: 20px 0;
}

.popu .el-dialog__body .el-button.left {
  border-radius: 0 0 0 4px;
  border-right: 1px solid #6699FF;
}

.popu .el-dialog__body .el-button.right {
  border-radius: 0 0 4px 0;
}

/** 定制版dialog*/

.add-appdiv {
  border: 1px #D0CACF solid;
  border-radius: 4px;
  padding: 30px;
  margin-bottom: 30px;
  background: #fff;
}

/*标签页*/
.tab-card .el-tabs--border-card {
  background: #fff;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

.tab-card .el-tabs--border-card > .el-tabs__content {
  padding: 0
}

.tab-card .el-tabs--border-card > .el-tabs__header {
  background-color: #fff;
  border-bottom: none;
  margin: 0;
  padding: 0;
}

.tab-card .el-tabs--border-card > .el-tabs__header .el-tabs__item {
  color: #343434 !important;
  font-weight: bold;
  font-size: 15px;
  border-top: 4px #fff solid;
}

.tab-card .el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
  color: #6699FF !important;
  background-color: #fff;
  border-top: 4px #6699FF solid;
  border-right-color: transparent;
  border-left-color: transparent
}

.tab-card.no .el-tabs--border-card {
  background: #E9ECF0;
}

.tab-card.no .el-tabs--border-card > .el-tabs__header {
  background-color: #E9ECF0;
}

.tab-card.no .el-tabs--border-card > .el-tabs__header .el-tabs__item {
  color: #343434 !important;
  font-weight: bold;
  font-size: 15px;
  border-top: 4px #E9ECF0 solid;
}

.tab-card.no .el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
  color: #6699FF !important;
  background-color: #E9ECF0;
  border-top: 4px #6699FF solid;
  border-right-color: transparent;
  border-left-color: transparent
}

/**form的label变灰色*/
.gray-form .el-form-item__label {
  color: #999;
  padding: 0 30px 0 0;
}

.gray-form .el-form-item__content {
  color: #333;
}

/*告警通知的弹框*/
.view-msg .el-dialog {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 430px;
  border-radius: 0;
  background: #E9ECF0;
}

.view-msg .el-dialog__header, .view-msg .el-dialog__body, .warning .el-dialog__body {
  padding: 0;
}

/*全局搜索的弹框大小设置 全屏*/
.search .el-dialog.is-fullscreen {
  width: 100%;
  min-width: 1366px;
}

.search .el-dialog__headerbtn .el-dialog__close {
  color: #D0CACF;
  font-size: 30px
}

.warning .el-dialog {
  position: absolute;
  right: 10px;
  border-radius: 4px;
  background: #fff;
}

/**所有的弹窗标题靠左*/
.el-dialog__header {
  text-align: left;
  padding-bottom: 15px;
}

/**对比工具的头像*/
.avatar-uploader .el-upload {
  border: 1px dashed #ccc;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  max-width: 222px;
  max-height: 222px;
}

.avatar-uploader .el-upload:hover {
  border-color: #6699FF;
}

/**添加页面的标签*/
.add-label {
  border-left: 3px #6699FF solid;
  text-align: left;
  font-size: 15px;
  padding-left: 10px;
  color: #343434;
}

/**dialog中的form表单标签和内容的距离*/
.dialog .el-form-item__label {
  padding: 0 30px 0 0;
}

.device .el-dialog__body {
  padding: 0 20px 20px 20px
}

@media screen and (min-width: 320px) and (max-width: 799px) {
  .el-message {
    min-width: 300px;
  }

  .el-message-box {
    width: 300px;
  }

  .popu .el-dialog {
    position: absolute;
    left: 50%;
    top: 18%;
    margin-top: -81px;
    margin-left: -150px;
  }
}

@media screen and (min-width: 800px) {
  .el-message {
    min-width: 380px;
  }

  .el-message-box {
    width: 420px;
  }

  .popu .el-dialog {
    position: absolute;
    left: 50%;
    top: 26%;
    margin-top: -81px;
    margin-left: -210px;
  }
}

/*所有Home界面公共css*/
.bread-bar {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}

.content-aside-close {
  flex: 0 0 60px;
  width: 60px;
  background-color: #eff0f4;
}

.content-aside {
  flex: 0 0 200px;
  width: 200px;
  background-color: #eff0f4;
}

.content-main {
  background-color: #E9ECF0;
  flex: 1;
  overflow-y: auto;
  padding: 10px 20px 20px 20px;
}

.content-aside-close .el-menu-item:focus, .content-aside-close .el-menu-item:hover, .content-aside .el-menu-item:focus, .content-aside .el-menu-item:hover {
  outline: 0;
  background-color: rgba(0, 0, 0, 0) !important
}

.content-aside-close .el-menu-item.is-active, .content-aside .el-menu-item.is-active {
  border-left: 5px solid #6699FF;
}

/*一级导航栏*/
.head-menu .el-menu--horizontal {
  border-bottom: none !important
}

.head-menu .el-menu--horizontal > .el-menu-item.is-active {
  border-bottom: 3px solid #3FA8F3 !important
}

.head-menu .el-menu--horizontal .el-menu .el-menu-item, .el-menu--horizontal .el-menu .el-submenu__title {
  padding: 0 !important
}

.head-menu .el-menu-item {
  padding: 0 13px;
}

.home-container {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 60px;
  bottom: 0;
  left: 0;
  width: 100%;
}

/*去除百度地图左下角的Logo*/
.anchorBL {
  display: none;
}

.BMapLib_Drawing_panel {
  height: 47px;
  border: 1px solid #666;
  border-radius: 5px 0 0 5px;
}

/*去除高德地图左下角的logo*/
/*.amap-logo {
  display: none;
}

.amap-copyright {
  bottom: -100px;
  display: none;
}*/

/*关联人员/疑似人员的css*/
.face-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

.face-item {
  width: -moz-calc(50% - 42px);
  width: -webkit-calc(50% - 42px);
  width: calc(50% - 42px);
  height: 122px;
  border: 1px #D7D7D7 solid;
  border-radius: 6px;
  background: #fff;
  padding: 15px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.face-item img {
  max-width: 120px;
  max-height: 120px;
  border-radius: 6px;
  text-align: left;
}

.face-item:nth-child(odd) {
  margin-right: 20px;
}

* {
  font-size: 13px;
}

/*图片搜索控件*/
.upload.img {
  margin: 0
}

.upload.img .el-button--medium {
  padding: 2px 10px;
  height: 36px;
}

/*去掉标记的白色边框*/
.el-badge__content {
  border: none;
}

/*单选框禁止时的边框和颜色*/
.el-radio-button__orig-radio:disabled + .el-radio-button__inner {
  color: #999;
  border-color: #bbb;
}

/*按钮组的大小*/
.el-button-group .el-button {
  float: left;
  position: relative;
  padding: 11px 15px 10px 15px;
  margin-top: -2px;
  margin-left: 10px;
}

/*在地图上添加删除按钮*/
.div-delete {
  cursor: pointer;
  width: 60px;
  height: 47px;
  line-height: 47px;
  border: 1px solid #666;
  border-left: 1px solid #d2d2d2;
  background-color: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  font-size: 28px;
  font-weight: bold;
  color: #2074B0;
  text-align: center;
  border-radius: 0 5px 5px 0;
}

.div-delete:active, .div-delete:hover, .div-delete:focus {
  color: #fff;
  background-color: #2074B0;
}
